@import "tailwindcss";

* {
  font-family: "Montserrat", sans-serif;
  background-color: whitesmoke;
}



.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}